{% extends "base.html" %} 

{% block bodyclass %}gruppen{% endblock %}

{% block content %} 
<div class="location"> 

  <div class="location-header"> 
   <h2>{{ object.name }}</h2> 
   {% if object.url %} 
   <a href="{{ object.url }}">{{ object.url }}</a>  
   {% endif %} 
  </div>
   <p>{{ object.description }}</p> 
</div> 


{% endblock %} 
{% block sidebar %}
<li class="info"><div>Die n&auml;chsten Termine.</div></li>

<li class="datelist">
<ul>
{% for termin in object.upcoming_termine %}
<li>
    <a href="{{ termin.get_absolute_url }}">{{ termin.startdatetime|date:"d.m.Y" }} - {{ termin.summary }}</a>
</li>
{% endfor %}
</ul>

</li>
{% endblock %}
