{% extends "base.html" %} 
{% load termine_tags %} 

{% block bodyclass %}gruppen{% endblock %}

{% block content %} 
<div class="location"> 

  <div class="location-header"> 
   <h2>{{ object.name }}</h2> 
   {% if object.url %} 
   <a href="{{ object.url }}">{{ object.url }}</a>  
   {% endif %} 
  </div>
   {{ object.description|linebreaks }}

   <div class="termin-meta" id="meta_one">
     <div class="meta-sock"> 
       <a class="location" href="{{ object.location.get_absolute_urls }}">{{ object.location.name }}</a>
       <div>{{ object.location.adress }} </div>
       <div>{{ object.location.zipcode }}, {{ object.location.city}} </div>
    </div>
   </div>
   <div class="termin-meta" id="meta_two">
     <div class="meta-sock"> 
     {% for rule in object.recurringtermin_set.all %}
       <div>
       <a href="{{ rule.get_absolute_url }}">{{ rule.name }}</a> ({{ rule.rule_description }}) 
       </div>
     {% endfor %} 
     
     </div>
   </div>




</div> 
{% endblock %} 

{% block sidebar %}
{% terminelist object.upcoming_termine %} 
{% endblock %}
