{% extends "base.html" %}

{% block bodyclass %}regulars{% endblock %}


{% block content %}

<div class="regular termin">
  
    <div class="termin-header">
       <h2>{{ object.name }}</h2>     
       <div class="rule">{{ object.rule_description }}</div> 
       <ul class="categories">
         {% for cat in object.categories.all %}
         <li>{{ cat.name }}</li>
         {% endfor %}
       </ul>


    </div>
 <p class="description"> 
 {{ object.description }} 
 </p> 

 {% include "termine/termin_footer.html" %}

</div>




{% endblock %}


{% block sidebar %} 
  <li class="info"><div>Die n&auml;chsten Termine.</div></li> 
  <li class="datelist"> 
   <ul>
   {% for termin in object.instances.all %}
     <li>
     <a href="{{ termin.get_absolute_url }}">{{ termin.startdatetime|date:"d.m.Y - H:i" }}</a>
     </li>
   {% endfor %}
   </ul>


  </li>
{% endblock %} 

