{% extends "base.html" %}
{% load termine_tags %}

{% block bodyclass %}regulars{% endblock %}


{% block content %}

<div class="regular termin">
  
    <div class="termin-header">
       <h2>{{ object.name }}</h2>     
       <div class="rule">{{ object.rule_description }}</div> 
       <ul class="categories">
         {% for cat in object.categories.all %}
         <li>{{ cat.name }}</li>
         {% endfor %}
       </ul>


    </div>
 <div class="description"> 
 {{ object.description|linebreaks }} 
 </div> 

 {% include "termine/termin_footer.html" %}

</div>




{% endblock %}


{% block sidebar %} 
{% terminelist object.instances.all %}
{% endblock %} 

