    <div class="termin-meta" id="meta_one">
     <div class="meta-sock">
        <ul>
        {% for org in object.organizers.all %}
          <li>
           <a href="{{ org.get_absolute_url}}">{{ org.name }}</a>
          </li>
         {% endfor %}
        </ul>
      </div>
    </div>
    <div class="termin-meta" id="meta_two">
     <div class="meta-sock">
        <a class="location" href="{{ object.location.get_absolute_urls }}">{{ object.location.name }}</a>
        <div>{{ object.location.adress }} </div>
        <div>{{ object.location.zipcode }}, {{ object.location.city}} </div>
     </div>
    </div>
