{% extends "termine/termine.html" %}

{% block content %}
  <ul id="terminelist">
  {% for object in object_list %} 
   <li class="termin"> 

{% ifchanged object.startdate %} 
     <div class="termin-header"> 
        <div class="dtstart" title="">{{ object.startdate|date:"l" }}</div>

        <div class="daynumber">{{ object.startdate|date:"d" }}</div>
        <div style="clear:left;"></div>
     </div> 
{% endifchanged %}
<div class="termin-body">
        <span class="time">{{ object.starttime|time:"H:i" }}</span>


        <a class="summary" href="{{ object.get_absolute_url }}">{{ object.summary }}</a>  
        <div style="clear:left;"></div>
        <ul id="termininfo"> 
           <li>&gt;&gt;<li> 
         {% for cat in object.categories.all %}
           {% if cat.name %} 
           <li>{{ cat.name }}</li>
           <li>/</li>
           {% endif %} 
         {% endfor %}
         {% if object.location %} 
           <li><a class="location" href="{{ object.location.get_absolute_urls }}"> {{ object.location.name }} </a></li>
           <li>/</li>
         {% endif %} 
         {% for org in object.organizers.all %}
            {% if org.name %}
           <li><a href="{{ org.get_absolute_url}}">{{ org.name }}</a><li>
           <li>/</li>
           {% endif %} 
         {% endfor %}
           {% if object.rule %}<li>{{ object.rule.rule_description }}</li>{% endif %}
        </ul> 
        <div style="clear:left;"></div>
</div> 
{% ifchanged object.startdate %} 
{% endifchanged %}
   </li> 
  {% endfor %} 
  </ul> 
{% endblock %} 

