{% extends "base.html" %} 

{% block bodyclass %}orte{% endblock %}

{% block content %} 
<div class="location"> 
   <div class="location-header"> 
      <h2>{{ object.name }}</h2> 
      <div class="adress"> 
         {{ object.adress }} 
        {{ object.zipcode }}, {{ object.city}} 
      </div>
   </div>
  
   <p class="desciption">{{ object.text }}</p> 
</div> 

{% endblock %} 



{% block sidebar %}
<li class="info"><div>Die n&auml;chsten Termine.</div></li>

<li class="datelist">
<ul> 
{% for termin in object.upcoming_termine %} 
<li>
    <a href="{{ termin.get_absolute_url }}">{{ termin.startdatetime|date:"d.m.Y" }} - {{ termin.summary }}</a>

</li> 
{% endfor %} 
</ul> 



  </li>
{% endblock %}

